body {
	background-color: gray;
}

.body {
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: white;
	border-radius: 400px 400px;
	left: 100px;
}

.tail {
	position: absolute;
	width: 250px;
	height: 200px;
	background-color: white;
	border-right: none;
	top: 208px;
	left: 62px;
	border-radius: 200px 200px 0 250px;
}

.brow {
	position:absolute;
  	width: 90px;
  	height: 70px;
  	border-radius: 0px 0px 100px 100px;
  	border: 40px solid black;
  	border-bottom: none;
  	border-top: none;
  	top: 100px;
  	left: 188px;
}

.eyes {
	position: absolute;
	width: 20px;
	height: 25px;
	background-color: black;
	border-radius: 30px 30px;
	top: 170px;
	left: 230px;
}

.eyes:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 25px;
	background-color: black;
	border-radius: 30px 30px;
	left: 65px;
}

.lip {
	position: absolute;
	width: 190px;
	height: 30px;
	background-color: white;
	border: 5px solid black;
	border-radius: 40px 0 0px 150px;
	border-top: none;
	border-left: none;
	border-right: none;
	top: 200px;
	left: 160px;
}

.block2 {
	position: absolute;
	width: 190px;
	height: 110px;
	background-color: white;
	top: -95px;
}

.mouth {
	position: absolute;
   	width: 186px;
   	height: 200px;
   	background-color: black;
   	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   	border-radius:         50%  50%  50%  50%  / 25%   25%   75%  75%;
  	top: 140px;
  	left: 160px;
}

.teeth {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 50px solid white;
	top: 20px;
	left: 40px;
}

.teeth:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 50px solid white;
	top: -50px;
	left: 63px;
}

.small-teeth {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid white;
	top: -70px;
	left: -1px;
}

.small-teeth:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid white;
	top: -50px;
	left: -5px;
}

.arm {
	position: absolute;
   	width: 106px;
   	height: 180px;
   	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   	border-radius:         50%  50%  50%  50%  / 80%   80%   20%  20%;
	border: 15px solid black;
	-webkit-transform: rotate(-45deg);
	top: 105px;
	left: 35px;
}

.block {
	position: absolute;
	width: 158px;
	height: 110px;
	background-color: white;
	top: 86px;
	left: -20px
}

