/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */


#wrapper {
	width:88%;
	margin:0 auto;
}

/* -- Navigation-Header -- */

.site-wrapper {
	height:6em;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	border-bottom:1px dotted;
}

#personal-nav {
	float:left;
	width:30%;
	margin-top:4em;
	margin-left:75%;
}

#personal-nav li {
	text-transform:uppercase;
	float:left;
	display:inline;
	margin:3%;
}

header {
	position:absolute;
}

header h1 {
	height:1.2em;
	width:6em;
	background:url("images/halstead.jpg") no-repeat;
	text-indent:-9999px;
	margin-top:4em;
}


/* -- Navigation-Sidebar -- */

.project-list {
	background-color:white;
	height:100%;
	width:20%;
	position:fixed;
	margin-top:5%;
}

.work {
	text-transform:uppercase;
}

nav h2 {
	margin-bottom:4em;
}

nav h3 {
	margin-top: 10em;
	text-transform:uppercase;
	font-size:.7em;
}


/* -- Main Content -- */

#work {
	float:left;
	width:74%;
	margin:6% 0 0 26%;
}

/* -- Project Specs -- */

.title-wrapper {
	float:left;
	width:63%;
}

.big-shot {
	float:left;
	max-width:100%;
	margin-bottom: 6%;
}

#thumb {
	max-width:100%;
}

.project-description {
	float:right;
	width:33%;
	margin-left:3%;
}

.project-description h1 {
	font-size:1.5em;
	margin-bottom:10%;
}

.small-shot {
	float:right;
	width:33%;
	margin-left:3%;
}

#thumb {
	margin-top:20%;
	margin-right:2%
}

/* -- Footer -- */

footer {
	height:20px;
	width:100%;
	position:fixed;
	bottom:0;
	background-color:white;
}

footer p {
	font-size:.7em;
	color:#b7b7b7;
	margin-top:.4em;
}

a {
	text-decoration:none;
	color:#464646;
}
