/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */


#wrapper {
	margin:0 auto;
	width:80%;
	min-height:100%;
	position:relative;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-size:.8em;
	font-family:tahoma;
}

nav {
	text-transform:uppercase;
}

#header {
	padding:10px;
}

#body {
	padding:10px;
	padding-bottom:40px;
}

#column-1 {
	position:fixed;
	float:left;
	width:150px;
	height:200px;
	margin-top:4em;
}

.sub-menu li {
	margin-bottom:1em;
}

#main-menu .sub-menu {
	margin-top:2em;
}

#project-menu .sub-menu {
	margin-top:3em;
}

#column-2 {
	position:fixed;
	margin-left:150px;
	width:250px;
	margin-top:4em;
}

#contact-info {
	margin-top:12em;
	float:left;
	width:400px;
}

#contact-info p {
	margin-bottom:.6em;
}

#about-info {
	margin-top:12em;
	float:left;
	width:300px;
}

#work {
	float:left;
	width:600px;
	margin-left:35em;
	padding-top:7.3em;
}

#work p {
	margin-top:2em;
}

h1 {
	font-size:1.7em;
}

#info {
	position:fixed;
	width:200px;
	margin-top:40em;
	margin-left:150px;
}

#info p {
	margin-top:2em;
	line-height:
}

#info h2 {
	text-transform:uppercase;
}

/* -- Footer -- */

footer {
	clear:both;
	position:absolute;
	bottom:0;
	height:25px;
	width:100%;
	border-top:1px dotted;
}

footer p {
	text-align:center;
	width:100%;
	position:absolute;
	padding-top:.7em;
	font-size:.75em;
	color:#b7b7b7;
}

footer span{
	margin-right:10%;
	text-align:center;
}

a {
	text-decoration:none;
	color:#464646;
}
