/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */

/*--- Default State Shop ---*/

#page {
	width: 960px;
	margin: 0 auto;
}

body {
	font-family: sans-serif, helvetica;
}

ul {
	list-style-type: none;
	text-transform: uppercase;
	font-size: .8em;
}

a {
	text-decoration: none;
	color: black;
}

/*--- Header ---*/

#navigation {
	position: fixed;
	top: 0;
	width: 960px;
	height: 70px;
	background-color: white;
	opacity: 0.9;
}

#navigation a:hover {
	color: #363636;
}

.main-nav ul {
	clear: both;
	float: left;
	width: 240px;
}

#logo {
	float: left;
	width: 480px;
	margin-top: 20px;
}

#logo img {
	padding-left: 180px;
}

.right-nav li {
	float: right;
	width: 240px;
	text-align: right;
}

.main-nav li {
	float: left;
}

.main-nav li, .right-nav li {
	letter-spacing: .08em;
	font-weight: bold;
	width: 100px;
	margin-top: 30px;
}

/*--- end Header ---*/

/*--- Spotlight ---*/

.spotlight {
	padding-top: 90px;
	padding-left: 25px;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: .02em;
}

.big-image {
	padding-top: 78px;
}

#collection {
	float: left;
	width: 480px;
	height: 240px;
	background-color: black;
	color: white;
	margin-top: -120px;
}

/*--- end Spotlight ---*/

/*--- Product List ---*/

#product {
	float: left;
	width: 960px;
	font-size: 2em;
	font-weight: bold;
}

.tees, .decks {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0;
	padding: 0;
}

img {
	float: left;
}

.tees p, .decks p {
	padding-top: 100px;
	text-align: center;
}

/*--- end Product List ---*/

/*--- Mission ---*/

#mission {
	float: left;
	width: 480px;
	margin-left: 240px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	margin-top: 100px;
	margin-bottom: 200px;
}

.mission-text {
	padding-top: 32px;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.1em;
	padding-bottom: 32px;
}

/*--- end Mission ---*/

/*--- Team ---*/

#team {
	float: left;
	width: 960px;
	height: 900px;
	background-color: #363636;
}

#team p {
	float: left;
	width: 480px;
	margin-top: 100px;
	margin-left: 240px;
	padding-top: 32px;
	border-top: 10px solid black;
	font-size: 2em;
	font-weight: bold;
}

.raw-video {
	float: left;
	padding-left: 140px;
	padding-top: 100px;
}

/*--- end Team ---*/

/*--- Footer ---*/

#footer {
	position: relative;
	clear: both;
	bottom: 0;
	width: 960px;
	height: 480px;
	background-color: black;
	color: white;
	font-size: .8em;
	text-align: center;
}

#footer p {
	font-size: .8em;
	margin-top: 70px;
	line-height: 1.8em;
}

.social-media {
	float: left;
	width: 480px;
	margin-left: 240px;
	margin-top: 100px;
}

.social-media ul {
	padding-left: 80px;
}

.social-media li {
	float: left;
	padding: 1.5em;
}

.site-map ul {
	padding-top: 240px;
}

.site-map li {
	display: inline-block;
	letter-spacing: .08em;
}

.site-map a {
	color: white;
}

.contact, .dist, .news {
	border-right: 1px solid white;
	padding-right: 10px;
}

.dist, .news, .terms {
	padding-left: 10px;
}

/*--- end Footer ---*/

/*--- Product Detail ---*/

#detail-shot {
	margin-top: 240px;
	padding-top: 60px;
	height: 460px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	display: none;
}

#detail-shot img {
	float: left;
}

.detail-2 {
	margin-top: 120px;
	margin-left: -120px;
}

.item-text {
	float: left;
	width: 240px;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 40px;
}

.product-title {
	float: left;
	margin-left: 120px;
}

.item-selectors {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#detail-components {
	float: left;
	margin-top: 40px;
	margin-left: 120px;
}

.cart-button {
	float: left;
	margin-left: 60px;
	height: 32px;
	width: 120px;
	background-color: black;
	color: white;
}

.cart-button p {
	margin: 10px;
	text-align: center;
}

.size-button, .qty-button {
	float: left;
	height: 30px;
	width: 60px;
	border: 1px solid black;
}

.size-button p, .qty-button p {
	margin: 10px;
	text-align: center;
}

