/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */

/*--- Default State Shop ---*/

body {
	font-family: sans-serif, helvetica;
}

ul {
	list-style-type: none;
	font-size: .8em;
}

a {
	text-decoration: none;
	color: black;
}

/*--- Header ---*/

#navigation {
	position: fixed;
	top: 0;
	width: 960px;
	height: 70px;
	background-color: white;
	z-index: 1;
}

#navigation a:hover {
	color: #c2c2c2;
}

.main-nav ul {
	clear: both;
	float: left;
	width: 240px;
}

#logo {
	float: left;
	width: 480px;
	margin-top: 20px;
}

#logo img {
	padding-left: 180px;
}

.right-nav li {
	float: right;
	width: 240px;
	text-align: right;
}

.main-nav li {
	float: left;
}

.main-nav li, .right-nav li {
	width: 100px;
	margin-top: 30px;
	letter-spacing: .08em;
	font-weight: bold;
	text-transform: uppercase;
}

#drop-down-cart {
	position: fixed;
	margin-top: 70px;
	margin-left: 780px;
	width: 180px;
	background-color: white;
	z-index: 2;
}

.hide {
	display: none;
}

.cart:hover {
	cursor: pointer;
}

#drop-down-cart p {
	padding: 40px;
	font-size: 16px;
	letter-spacing: 1px;
}

#checkout {
	float: left;
	height: 32px;
	width: 180px;
	background-color: #c2c2c2;
	color: white;
	border: none;
	font-family: helvetica;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	-moz-transition: background-color .2s ease-in-out .2s;
	-webkit-transition: background-color .2s ease-in-out .2s;
}

#checkout:hover {
	background-color: black;
}

/*--- end Header ---*/

/*--- Spotlight ---*/

.spotlight {
	padding-top: 40px;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.big-image {
	padding-top: 70px;
}

#collection {
	float: left;
	width: 960px;
	height: 120px;
	background-color: black;
	color: white;
	margin-top: -10px;
}

/*--- end Spotlight ---*/

/*--- Product List ---*/

#product {
	float: left;
	width: 960px;
	font-size: 2em;
	font-weight: bold;
}

.product {
	opacity: 1;
	-moz-transition: opacity .2s ease-in-out .2s;
	-webkit-transition: opacity .2s ease-in-out .2s;
}

.product:hover {
	opacity: .8;
	cursor: pointer;
}

.tees, .decks {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0;
	padding: 0;
}

img {
	float: left;
}

.tees p, .decks p {
	padding-top: 100px;
	text-align: center;
	letter-spacing: 1px;
}

/*--- end Product List ---*/

/*--- Mission ---*/

#mission {
	float: left;
	width: 960px;
	height: 760px;
}

.mission-text {
	width: 480px;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 140px;
	margin-left: 240px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3em;
}

/*--- end Mission ---*/

/*--- Team ---*/

#team {
	float: left;
	width: 960px;
	height: 900px;
	background-color: #363636;
}

#team p {
	float: left;
	width: 480px;
	margin-top: 100px;
	margin-left: 240px;
	padding-top: 32px;
	border-top: 10px solid black;
	font-size: 2em;
	font-weight: bold;
}

.raw-video {
	float: left;
	padding-left: 120px;
	padding-top: 100px;
}

/*--- end Team ---*/

/*--- Footer ---*/

#footer {
	position: relative;
	clear: both;
	bottom: 0;
	width: 960px;
	height: 480px;
	background-color: black;
	color: white;
	font-size: .8em;
	text-align: center;
}

#footer p {
	font-size: .8em;
	margin-top: 70px;
	line-height: 1.8em;
}

#footer a {
	color: white;
}

.social-media {
	float: left;
	width: 480px;
	margin-left: 240px;
	margin-top: 100px;
}

.social-media ul {
	padding-left: 80px;
}

.social-media li {
	float: left;
	padding: 1.5em;
}

.site-map ul {
	padding-top: 240px;
}

.site-map li {
	display: inline-block;
	letter-spacing: .08em;
	text-transform: uppercase;
}

.site-map a {
	color: white;
}

.contact, .dist, .news {
	border-right: 1px solid white;
	padding-right: 10px;
}

.dist, .news, .terms {
	padding-left: 10px;
}

/*--- end Footer ---*/

/*--- Product Detail ---*/

.details {
	margin-top: 240px;
	padding-top: 60px;
	height: 460px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	display: none;
}

.details img {
	float: left;
}

#detail-image {
	float: left;
}

#detail-image1 {
	float: left;
}

#detail-image2 {
	float: left;
	margin-top: 120px;
	margin-left: -120px;
}

.detail-specs {
	float: left;
	width: 360px;
	height: 460px;
}

#detail-title {
	clear: both;
	float: left;
	margin-left: 80px;
}

#detail-price {
	clear: both;
	float: left;
	margin-left: 80px;
	padding-top: 20px;
	color: #c2c2c2;
}

#detail-components {
	clear: both;
	float: left;
	margin-top: 40px;
	margin-left: 80px;
}

#detail-description {
	float: left;
	width: 360px;
	padding-top: 30px;
	border-top: 1px solid #c2c2c2;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: 1px;
}

#detail-options {
	float: left;
	padding-top: 30px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

#detail-options p {
	float: left;
	width: 40px;
	padding-top: 6px;
	color: #c2c2c2;
	letter-spacing: 1px;
}

#detail-size {
	float: left;
	height: 24px;
	width: 40px;
	margin-right: 40px;
	border: 1px solid #c2c2c2;
}

#detail-quantity {
	float: left;
	height: 20px;
	width: 20px;
	border: 1px solid #c2c2c2;
	text-align: center;
}

#add-cart {
	float: left;
	height: 32px;
	width: 120px;
	margin-left: 55px;
	background-color: #c2c2c2;
	color: white;
	border: none;
	font-family: helvetica;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	-webkit-transition: background-color .2s ease-in-out .2s;
}

#add-cart:hover {
	background-color: black;
}

input[type=submit] {
	cursor: pointer;
}
