
@-webkit-keyframes point-wiggle {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(-10deg); }
	50% { -webkit-transform: rotate(-5deg); }
	75% { -webkit-transform: rotate(-10deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes middle-wiggle {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(10deg); }
	50% { -webkit-transform: rotate(5deg); }
	75% { -webkit-transform: rotate(10deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes bounce {
	0% { -webkit-transform: translate3d(0, 0px, 0); }
	50% { -webkit-transform: translate3d(0, 0px, 0);
		-webkit-animation-timing-function: ease-out; }
	75% { -webkit-transform: translate3d(0, -5px, 0); 
		-webkit-animation-timing-function: ease-in; }
	100% { -webkit-transform: translate3d(0, 0px, 0); }
}

#content {
	width: 50%;
	height: 30%;
	position: absolute;
	margin-top: -25%;
	margin-left: -15%;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-animation: bounce .5s infinite alternate;
}

.palm {
	position: absolute;
   	width: 180px;
   	height: 165px;
   	background-color: black;
   	border-radius: 0 0 160px 120px;
   	top: 148px;
}

.pointer {
	position: absolute;
	width: 48px;
	height: 170px;
	background-color: black;
	-webkit-transform: rotate(-10deg);
	-webkit-transform-origin: bottom;
	border-radius: 20px 20px;
	top: 15px;
	-webkit-animation: point-wiggle 3s ease 1s infinite normal;
}

.middle {
	position: absolute;
	width: 48px;
	height: 170px;
	background-color: black;
	-webkit-transform: rotate(15deg);
	-webkit-transform-origin: bottom;
	border-radius: 20px 20px;
	top: 10px;
	left: 48px;
	-webkit-animation: middle-wiggle 3s ease 1s infinite normal;
}

.thumb {
	position: absolute;
	width: 100px;
	height: 40px;
	background-color: black;
	border-radius: 40px 40px;
	border: 8px solid white;
	top: 165px;
	left: -8px;
}

.joint {
	position: absolute;
	width: 55px;
	height: 80px;
	background-color: black;
	border-radius: 20px 20px;
}

.ring {
	position: absolute;
	width: 35px;
	height: 85px;
	background-color: black;
	-webkit-transform: rotate(15deg);
	border-radius: 20px 20px;
	border: 8px solid white;
	top: 120px;
	left: 95px;
}

.ring:after {
	content: "";
	position: absolute;
	width: 35px;
	height: 75px;
	background-color: black;
	border-radius: 20px 20px;
	border: 8px solid white;
	left: 35px;
}

