
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */

body {
	width:100%;
	font-family:helvetica;
}

#site-header h1 a {
	display:block;
	height:150px;
	width:320px;
	background:url('images/logo.png') no-repeat top left;
	text-indent:-9999px;
}

#site-wrapper {
	background-color:#FFFFCC;
}

header {
	position:relative;
	height:160px;
	width:960px;
	margin:0 auto;
}
header h1 {
	position:absolute;
	top:15px;
	left:35px;
}
header nav {
	position:absolute;
	background-color:teal;
	right:10px;
}

#menu-wrapper {
	background-color:#996633;
}

#main-menu {
	position:relative;
	height: 45px;
	width:960px;
	margin:0 auto;
}

#main-menu li {
	float:left;
	padding: 10px; margin:5px 8px;
	font-family:helvetica;
	background-color: yellow;
}

#content {
	width:960px;
	margin:0 auto;
}

#page {
	float: left;
	width: 60%;
	padding-top:40px;
	padding-bottom:30px;
}

#page h1 {
	font-size:1.8em;
	font-weight:bold;
	color:#996633;
	padding-bottom:15px;
}

#page h2 {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.15em;
	color:#996633;
	padding-bottom:20px;
}

#page p {
	font-size:15px;
	line-height:1.3em;
	padding-bottom:25px;
}

#sidebar {
	float:left;
	width:30%;
	font-family:helvetica;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:60px;
}

#sidebar h1 {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.15em;
	color:#996633;
	padding-bottom:20px;
}

#sidebar ul {
	padding-bottom:30px;
	font-size:12px;
	line-height:1.6em;
}

#site-footer {
	position:relative;
	bottom:0px;
	clear:both;
	width:960px;
	margin:0 auto;
}

#footer-wrapper {
	clear:both;
	background-color:#996633;
	height:180px;
}

#footer-wrapper h1 {
	color:#FFFFCC;
	font-family:helvetica;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.15em;
	padding-bottom:15px;
}

#footer-contact {
	float:left;
	width:20%;
	padding-top:30px;
}

#footer-contact p {
	color:white;
	font-size:12px;
	font-family:helvetica;
	line-height:1.3em;
}

#footer-follow {
	float:left;
	width:20%;
	padding-top:30px;
	padding-left:495px;
}

#footer-follow h1 {
	padding-left:32px;
}

#footer-follow li {
	float:left;
	width:60px;
}

a {
	text-decoration:none;
}