

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */


body {
	width:80%;
	margin:0 auto;
}

header {
	position:relative;
	height:auto;
}

#content {
	width:80%;
	margin:0 auto;
}

article {
	float:left;
	width:48%;
	margin:1%;
	padding-top:3%;
	padding-bottom:7%
}

img {
	max-width:100%;
}

h1 {
	float:left;
	font-family: 'LeagueGothicRegular';
	font-size:7.3em;
	text-transform:uppercase;
}

h2 {
	font-family: 'LeagueGothicRegular';
	font-size:2.1em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:15px;
}

p {
	font-family:georgia;
	line-height:1.3em;
}

#nav {
	border-top:solid black 4px;
	border-bottom:solid black 4px;
	padding-top:20px;
	padding-bottom:20px;
}

ul {
	text-align:center;
}

li {
	display:inline;
	margin:3%;
	font-family:georgia;
	font-size:1.3em;
	font-weight:bold;
	text-transform:uppercase;
}

#logo {
	margin-right:auto;
	margin-left:auto;
	padding-top:100px;
	padding-bottom:40px;
	text-align:center;
}

.d, .c {
	font-family:'LeagueGothicRegular';
	font-size:8em;
	padding-top:10%;
	text-transform:uppercase;
}

.vs {
	font-family:georgia;
	font-style:italic;
	font-size:4em;
	color:#BDC0C4;
	border-top:4px double;
	border-bottom:4px double;
	margin-bottom:2em;
}

footer {
	clear:both;
	font-size:.6em;
	border-top:solid black 2px;
}

#sources p {
	padding-top:25px;
	padding-bottom:10px;
}

#stuff {
	float:left;
	width:24em;
	margin-left:0px;
}

#things {
	float:right;
	width:12em;
	text-align:right;
}

a:hover {
	color:#BDC0C4;
}

a {
	text-decoration:none;
	color:black;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}